<div style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item fw-bold">Cars</li>
        <li class="breadcrumb-item">List cars</li>
    </ol>
</div>

<div class="d-flex justify-content-between">
    <h4 class="fw-bold">List Card</h4>
    <a href="/cars/add" class="btn btn-primary">
        <i class="fa-solid fa-plus"></i>
        Add new card
    </a>
</div>

<div class="my-2">
    <button type="button" class="btn btn-md btn-outline-secondary">All</button>
    <button type="button" class="btn btn-md btn-outline-secondary">Small</button>
    <button type="button" class="btn btn-md btn-outline-secondary">Medium</button>
    <button type="button" class="btn btn-md btn-outline-secondary">Large</button>
</div>

<div class="d-flex flex-wrap justify-content-between">
    <% items.forEach(e => { %>
    <div class="card my-3" style="width: 20rem;">
        <span class="p-4">
            <img src="<%= e.gambar  %>" class="card-img-top" alt="...">
        </span>
        <div class="card-body">
            <p class="card-text mb-0"><%= e.nama %>/<%= e.kategori %></p>
            <h5 class="card-title fw-bold mb-3"><%= e.harga  %> / hari</h5>
            <p class="card-text mb-1 fw-light">
                <i class="fa-solid fa-key"></i>
                <%= e.start  %> - <%= e.finish  %>
            </p>
            <p class="card-text mb-0 fw-light">
                <i class="fa-solid fa-clock"></i>
                Updated at <%= e.update  %>
            </p>

            <div class="row mt-4">
                <div class="col-6">
                    <button type="button" onclick="showModal()" class="btn btn-outline-danger w-100">
                        <i class="fa-solid fa-trash"></i>
                        Hapus
                    </button>
                </div>
                <div class="col-6">
                    <a href="/cars/add" class="btn btn-success w-100">
                        <i class="fa-solid fa-square-pen"></i>
                        Edit
                    </a>
                </div>
            </div>

        </div>
    </div>
    <% }) %>
</div>

<!-- Modal -->
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-body py-5">
            <div class="d-flex flex-column align-items-center">
                <img src="/images/modal.png" alt="" srcset="">
                <div class="col-8 text-center">

                    <p class="fw-bold">Menghapus Data Mobil</p>
                    <p class="fw-light">
                        Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?
                    </p>
                </div>
                <div>
                    <button type="button" class="btn btn-primary">Ya</button>
                    <button type="button" class="btn btn-outline-primary">Tidak</button>
                </div>

            </div>
        </div>
      </div>
    </div>
  </div>

<script>
    function showModal(){
        $('#modalDelete').modal('show');
    }
</script>

  
  