<div style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item fw-bold">Dashboard</li>
      <li class="breadcrumb-item">Dashboard</li>
  </ol>
</div>

<div>
  <h4 class="fw-bold">Dashboard</h4>

  <div class="my-4">
    <h6 class="text-label">List User</h6>
    <table class="myTable" class="table">
        <thead class="table-light">
          <tr>
            <th scope="col">No</th>
            <th scope="col">User Email</th>
            <th scope="col">Car</th>
            <th scope="col">Start Rent</th>
            <th scope="col">Finish Rent</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <% item.forEach(e => { %>
            <tr>
              <td><%= e.no  %> </td>
              <td><%= e.email %></td>
              <td><%= e.cars  %></td>
              <td><%= e.start  %></td>
              <td><%= e.finish  %></td>
              <td><%= e.price  %></td>
              <td><%= e.status  %></td>
            </tr>
          <% }) %>
        </tbody>
    </table>
  </div>

  <div class="my-4">
    <h6 class="text-label">List Car</h6>
    <table class="myTable" class="table">
        <thead class="table-light">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Start Rent</th>
            <th scope="col">Finish Rent</th>
            <th scope="col">Created at</th>
            <th scope="col">Updated at</th>
          </tr>
        </thead>
        <tbody>
          <% items.forEach(e => { %>
            <tr>
              <td><%= e.no  %> </td>
              <td><%= e.nama  %></th>
              <td><%= e.kategori  %></th>
              <td><%= e.harga  %></th>
              <td><%= e.start  %></th>
              <td><%= e.finish  %></th>
              <td><%= e.create  %></th>
              <td><%= e.update  %></th>
            </tr>
          <% }) %>
        </tbody>
    </table>
  </div>


</div>

<script>
    $(document).ready( function () {
        $('.myTable').DataTable({
            dom: 'rtilp',
        });
    } );
</script>